<button class="woodcuttingCard flex justify-center self-center m-4">
    <div data-id="{{id}}" data-lvl="{{lvl_required}}" class="insideWoodcuttingCards">
        <div class="treeText flex shrink justify-center m-2">{{name}}</div>
        <div>
            <div data-id="{{id}}" data-lvl="{{lvl_required}}" class="treeContainer">
                <div data-id="{{id}}" data-lvl="{{lvl_required}}" class="flex justify-center content-center m-1" role="progressbar" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100" style="--value:{{#if_eq id activeTree}}{{progress}}{{else}}0{{/if_eq}}"><img id="tree-img" class="treeImage mb-24"
                        src="{{item_icon}}"
                        alt="image-description" width="200" height="200"></div>
                {{#if_eq id activeTree}}
                <div class="percentText flex justify-center mt-2">{{progress}}% DONE</div>
                {{/if_eq}}
            </div>
        </div>
    </div>
</button>